<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:amq="http://activemq.apache.org/schema/core"
	   xmlns:task="http://www.springframework.org/schema/task" xmlns:amp="http://activemq.apache.org/schema/core"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/task
			http://www.springframework.org/schema/task/spring-task-4.0.xsd
			http://activemq.apache.org/schema/core
			http://activemq.apache.org/schema/core/activemq-core-5.14.3.xsd">

	<!--<amq:connectionFactory id="amqConnectionFactory"  brokerURL="tcp://127.0.0.1:61620?jms.useAsyncSend=true" userName="admin" password="admin"></amq:connectionFactory>-->
	<!-- 连接工厂 -->

	<bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://127.0.0.1:61620?jms.useAsyncSend=true"/>
	</bean>

	<!-- 配置JMS连接工厂 -->
	<bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="amqConnectionFactory" />
		<property name="sessionCacheSize" value="100" />
	</bean>

	<!-- 定义消息队列（Queue） -->
	<bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<!-- 配置两个消息队列：queue1,queue2 队列名称，多队列使用,分割 -->
		<constructor-arg index="0" value="xdd-sender"/>
	</bean>

	<!-- 队列消息处理类 -->
	<bean id="queueMessageListener" class="com.java.xdd.activemq.controller.QueueMessageListener" />

	<!-- 队列监听 -->
	<bean id="queueListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="queueDestination" />
		<property name="messageListener" ref="queueMessageListener" />
	</bean>
</beans>